@{
    ViewBag.Title = "index";
}

<h2>index</h2>
<div>
this list is not from db<br>

    @foreach (var t in ViewBag.UList)
{

    <span>@t.name  _  @t.IDnumber </span><br>
}      

</div>
<br>

@Html.ActionLink("click to see data retrieved from database", "Index", "retrieve" )

<br>

<span> this was added on work computer  </span><br>
<span> and this one from home computer </span>